{% extends "layout.html" %}
{% block content %}

<h2>{{fragrance[2]}} by {{fragrance[3]}} ({{fragrance[7]}})</h2>

<p> Perfumer: {{ fragrance[4] }} </p>

{% for info in fragrance%}
    {{ info }}"
{% endfor %}

<p>
{% if session.user_id %}
    <a href="/fragrances/{{fragrance[0]}}/new_review">Add review</a>
    <p>
    <a href="/fragrances/{{fragrance[0]}}/add_to_collection">Add to your collection</a>
{% else %}
    <a href="/login"> Sign in to add a review</a>
{% endif %}
</p>


Reviews:
<hr>

{% for r in reviews %}
    <b>Reviewed by user</b> <a href="/users/{{r[5]}}">{{ r[0] }} </a>
    <p>
    <b>Rating:</b> {{ r[2] }} out of  10
    <p>
    {{ r[1] }}
    <p>
    <i>Sent at: </i>{{ r[3].strftime("%Y-%m-%d %H:%M:%S") }}
{% endfor %}



{% endblock %}