<!doctype html>
<link rel="stylesheet" href="/static/style/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>fragranceapp - {% block title %}{% endblock %}</title>
<h1>fragranceapp</h1>

<a href="/">Front page</a>
<div class="dropdown">
  <button class="dropbtn">Browse</button>
  <div class="dropdown-content">
    <a href="/browse/fragrances">Fragrances</a>
    <a href="/browse/designers">Designers</a>
    <a href="/browse/groups">Groups</a>
    <a href="/browse/perfumers">Perfumers</a>
  </div>
</div>
<a href="/recent_reviews">Recent reviews</a>

{% if session.user_id %}
  Logged in as: {{ session.user_name }}<a href="/user_profile"> My profile</a>. <a href="/logout">Log out</a>
{% else %}
  <a href="/login">Log in</a>
{% endif %}

{% if session.user_role == 2 %}
  <a href="/admin">Headuser panel</a>
{% endif %}


<hr>
  {% block content %}{% endblock %}
<hr>
<a href="/info">About</a>