<!doctype html>
<link rel="stylesheet" href="/static/style/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>fragranceapp - {% block title %}{% endblock %}</title>
<h1>fragranceapp</h1>

<button class="dropbtn"><a href="/">Front page</a></button>
<div class="dropdown">
  <button class="dropbtn">Browse</button>
  <div class="dropdown-content">
    <a href="/browse/designers">Designers</a>
    <a href="/browse/fragrances">Fragrances</a>
    <a href="/browse/groups">Groups</a>
    <a href="/browse/perfumers">Perfumers</a>
  </div>
</div>
<button class="dropbtn"><a href="/recent_reviews">Recent reviews</a></button>


{% if session.user_id %}
  <b>Logged in as:</b> {{ session.user_name }}
  <button class="dropbtn"><a href="/users/{{session.user_id}}">My profile</a></button>
  <button class="dropbtn"><a href="/logout">Log out</a></button>
{% else %}
  <button class="dropbtn"><a href="/login">Log in</a>/button>
{% endif %}

{% if session.user_role == 2 %}
 <button class="dropbtn"> <a href="/admin">Admin panel</a></button>
{% endif %}

<hr>
  {% block content %}{% endblock %}
<hr>
<a href="/info">About</a>